
.card{
      
      
      margin-left: 10px;
      padding-left: 10px;
}
.todsad{
    margin: 10px;
      padding: 10px;
      background-color: rgb(138, 214, 150); 
      /* height: auto;
      width: auto;  */
}
.op{
      /* background-color: red; */
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;

}
 